@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  padding: 0 70px;
}

.navigation {
  display: flex;
}

.main-header-logo {
  width: 138px;
  margin-right: 30px;
  margin-bottom: -6px;
  z-index: 100;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.navigation-user {
  justify-content: flex-end;
  width: 400px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.count {
  color: #ffffff;
  background-color: #7db54f;
  font-size: 10px;
  line-height: 10px;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background-color: #ffffff;
}

.hero {
  padding: 50px 0 82px;
  background-color: #333333;
  background-image:
    url("../images/icons/index-divider.svg"),
    url("../images/index/index-background.jpg");
  background-position:
    center bottom,
    center;
  background-size:
    100% auto,
    cover;
  background-repeat: no-repeat;
}

.hero-image {
  margin: 0 auto;
}

.advantages {
  padding-top: 70px;
  text-align: center;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-title {
  width: 620px;
  margin: 0 auto 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.advantages-description {
  width: 651px;
  margin: 0 auto 90px;
  font-size: 22px;
  line-height: 26px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item,
.advantages-item-wide-content {
  padding: 102px 85px;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:first-child,
.advantages-item:last-child {
  display: flex;
  width: 1200px;
  background-color: #82b3d3;
}

.advantages-item-title {
  width: 175px;
  margin: 0 auto 62px;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-item:first-child,
.advantages-item:last-child {
  padding: 0;
}

.advantages-item:first-child .advantages-item-title,
.advantages-item:last-child .advantages-item-title,
.advantages-item:first-child,
.advantages-item:last-child {
  color: #ffffff;
}

.advantages-item-text {
  margin: 0;
}

.services {
  padding-top: 64px;
  text-align: center;
}

.services-title {
  width: 505px;
  margin: 0 auto 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.services-description {
  width: 505px;
  margin: 0 auto 64px;
  font-size: 22px;
  line-height: 26px;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item {
  width: 400px;
  padding: 81px 85px;
}

.services-item:first-child,
.services-item:last-child {
  background-color: rgba(131, 179, 211, 0.12);;
}

.services-item-title {
  margin: 102px auto 30px;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-text {
  margin: 0;
}

.search {
  padding: 96px 304px;
  text-align: center;
}

.search-title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-description {
  margin: 0 0 54px;
  font-size: 22px;
  line-height: 26px;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
}

.newsletter {
  padding: 96px 258px;
  text-align: center;
  color: #ffffff;
  background-color: #333333;
  background-image: url("../images/index/newsletter.jpg");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter-title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter-description {
  margin: 0 0 54px;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-form {
  display: flex;
}

.field {
  flex-grow: 1;
}

.field::placeholder {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.6;
}

.newsletter-button {
  width: 235px;
  font-size: 20px;
  line-height: 36px;
  background-color: #82b3d3;
}

.page-footer {
  display: flex;
  align-items: center;
  padding: 40px 70px 30px;
  background-color: #ffffff;
}

.page-footer-social {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  margin-right: auto;
  list-style-type: none;
}

.page-footer-phone {
  width: 350px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.page-footer-htmlacademy {
  width: 120px;
  margin-left: auto;
}

.main-inner {
  color: #242424;
  background-color: #ffffff;
}

.inner-container {
  padding: 30px 70px 70px;
  color: #ffffff;
  background-color: #333333;
  background-image: url("../images/catalog/filter.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.inner-header {
  margin-bottom: 40px;
}

.main-title {
  margin: 0 0 8px;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #ffffff;
}

.breadcrumbs-link {
  margin-right: 30px;
  font-size: 16px;
  color: inherit;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group-infrastructure {
  display: flex;
  flex-direction: column;
  width: 150px;
  padding: 0;
  margin: 0 70px 0 0;
  border: none;
}

.catalog-filter-group-type {
  width: 150px;
  margin-right: 140px;
}

.catalog-filter-group-price {
  width: 288px;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control {
  line-height: 23px;
}

.catalog-buttons {
  display: flex;
  flex-direction: column;
  width: 190px;
  margin-left: auto;
}

.catalog-filter-submit {
  background-color: #82b3d3;
}

.catalog-filter-reset  {
  background-color: transparent
}

.catalog-results {
  margin-right: auto;
  padding: 50px 60px 70px;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.filter-result {
  margin: 0;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
}

.filter-result {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.select-control {
  font-family: inherit;
  font-size: 19px;
  line-height: 21px;
  color: #333333;
}

.sorting-buttons {
  display: flex;
  max-width: 160px;
  margin-left: 70px;
}

.hotels-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotels-card-link {
  text-decoration: none;
}

.hotels-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.hotels-card-price b {
  font-weight: 400;
}

.hotels-card-favorite {
  background-color: #82b3d3;
}

.hotels-card-favorite-active {
  background-color: #7db54f;
}

.hotels-card-rating {
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}


.main-inner .newsletter {
  color: #333333;
  background-color: #ffffff;
  background-image: none
}

.main-inner .newsletter-title {
  color: #000000;
}

.main-inner .newsletter .field {
  background-color: #f2f2f2;
  border: none;
}
